---
layout: default
---

<p>Thank you for supporting us. We will update this page soon with links to various ways you can support us and our community.</p>

<h1>Posts</h2>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      {% if post.excerpt != post.content %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% endif %}
    </article>
  {% endfor %}
</div>

<h1>{{ site.data.links.title }}</h2>

<ul>
   {% for item in site.data.links.docs %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
   {% endfor %}
</ul>
